<h1>Edit</h1>
<h2>{{video.title}}</h2>
<p>{{video.filename}}</p>
<p>{{video.folder}}</p>
<form name="form" ng-submit="saveVideo(video)" novalidate>
	<div class="checkbox">
		<label>
			<input type="checkbox" ng-model="video.is3D" name="is3D"> 3D
		</label>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">Save</button>

	</div>
</form>

<div class="poster-frame">
	<strong>{{item.Title}}</strong>
	<img ng-src="{{item.Poster}}" alt="" class="img-responsive">
</div>


<a ng-click="lookup(video)" data-animation="am-fade-and-scale" data-placement="center" data-template="views/template/lookup.html" bs-modal="modal">
	<span class="glyphicon glyphicon-search"></span>
</a>

<ul class="search-results">
	<li ng-repeat="item in video.results" ng-if="item.Type=='movie'">			
		
		<a ng-click="getImdb(item.imdbID, item)">{{item.Title}}: {{item.Year}}</a>				
		<a ng-click="selectImdb(item, video)"><span class="glyphicon glyphicon-ok-sign"></span></a>
	</li>
</ul>
