<h1>{{video.title}} <a href="#/admin/videos/{{id}}/edit" class="btn btn-default pull-right" ng-if="isAdmin">Edit</a> 
<a href="" ng-if="user" ng-click="favorite(video)"><small><span class="glyphicon" ng-class="{'glyphicon-heart active' : isFavorite, 'glyphicon-heart-empty': !isFavorite}"></span></small></a>
<a href="" ng-if="!user" ng-controller="AuthCtrl" ng-click="auth.login()"><small><span class="glyphicon glyphicon-heart-empty"></span></small></a></h1>
<div class="row">
	<div class="pull-left margin-bottom-20">
		<div class="media-left">
			<a>

				<img class="media-object" ng-src="{{video.attachments}}" alt="...">
			</a>
		</div>
	</div>
	<div>
		<div class="media-body">
			<p>
				<strong>Stars: </strong>
				<span ng-repeat="(key,value) in video.actors.split(',')"><a href="#/search?actors={{value.trim()}}">{{value}}</a>{{$last ? '' : ', '}}</span>
			</p>
			<p>
				<strong><small>Genre:</small></strong> <small ng-repeat="(key,value) in video.genre.split(',')"><a href="#/search?genre={{value.trim()}}">{{value}}</a>{{$last ? '' : ', '}} </small> | <strong><small>Year:</strong> <a href="#/search?year={{imdb.Year.trim()}}">{{video.year}}</a>
			</small>
			</p>
			<p><strong>Plot: </strong>{{imdb.Plot}}</p>
			<p><strong>Rating: </strong>{{video.rating}}</p>
			<p><strong>Director: </strong>{{video.director}}</p>
			<p><strong>Runtime: </strong>{{imdb.Runtime}}</p>
		
			<small>
				<p><strong>Filesize: </strong>{{ Utils.humanFileSize(video.size) }}</p>
				<p><strong>Filename: </strong>{{ video.filename }}</p>
				<p><strong>Folder: </strong>{{ video.folder }}</p>
				<p><strong>Added: </strong>{{ video.created_at }}</p>
			</small>
		</div>
	</div>
</div>

