<h1>Videos</h1>
<div class="poster-frame">
	<strong>{{item.Title}}</strong>
	<img ng-src="{{item.Poster}}" alt="" class="img-responsive">
</div>
<ol class="video-list" data-page="1" data-spy="scroll" data-target=".navbar-example">
	<li ng-repeat="video in videos track by $index" get-video data-filename="{{video.filename}}">
		{{video.filename}} - {{ formatFileSize(video.size) }}
		<span class="glyphicon glyphicon-info-sign" title="{{video.folder}}"></span>
		<a ng-click="inactive(video)" class="glyphicon glyphicon-remove-sign"></a>
		<a ng-click="delete(video)"><span class="glyphicon glyphicon-trash"></span></a>
		<a ng-click="lookup(video)" data-animation="am-fade-and-scale" data-placement="center" data-template="views/template/lookup.html" bs-modal="modal">
			<span class="glyphicon glyphicon-search"></span>
		</a>
		<div>{{video.folder}}</div>

		<ul class="search-results">
			<li ng-repeat="item in video.results" ng-if="item.Type=='movie'">			
				<a ng-click="getImdb(item.imdbID, item)">{{item.Title}}: {{item.Year}}</a>				
				<a ng-click="selectImdb(item, video)"><span class="glyphicon glyphicon-ok-sign"></span></a>
			</li>
		</ul>
	</li>
</ol>
<button ng-click="load()" class="btn btn-default">Load More</button>

